{% include 'header.html' %}        
<!-- Add your site or application content here -->
<!-- Header info above -->
<content>

  <!--<form action="upload.php" method="post" enctype="multipart/form-data">-->
  <form action="upload.php" method="post" enctype="multipart/form-data">
    {% import "forms.html" as forms %}
    <p>{{ forms.input('fileToUpload', null, 'file') }}</p>
    <p>{{ forms.input('tags', null, 'text', 20, 'tags') }}</p>
    <p>{{ forms.input('submit', 'Upload Image', 'submit') }}</p>
  </form>

  <h2>Uploaded images</h2>

  <ul id="uploadedImages">
    {% for file in files %}
      <li><a href="/view.php?file={{ file }}"><img src="uploads/thumbs/{{ file }}" /></a></li>
    {% endfor %}
  </ul>

</content>

{% include 'footer.html' %}        
