{% include 'header.html' %}        

<content>

  <img src="{{ image }}" />
  
  <h2>Upload another?</h2>
  <form action="upload.php" method="post" enctype="multipart/form-data">
    {% import "forms.html" as forms %}
    <p>{{ forms.input('fileToUpload', null, 'file') }}</p>
    <p>{{ forms.input('tags', null, 'text', 20, 'tags') }}</p>
    <p>{{ forms.input('submit', 'Upload Image', 'submit') }}</p>
  </form>

  <ul id="listOfFiles">
  {% for file in files %}
    <li><img src="uploads/thumbs/{{ file }}" /></li>
  {% endfor %}
  </ul>

</content>

{% include 'footer.html' %}        
